body{
    background-color: white;
}
#drop{
    size: 25px;
}
.one{
    padding: 20px;
}
.select{
    padding: 6px 8px;
}
#para1{
    font-size: 25px;
    color: darkblue;
}
#para2{
    font-size: 20px;
    color: blue;
}
button {
    width: 80px;
    height: 25px;
    margin: 5px;  
    border-radius: 2px;
}
#disp2{
    font-size: 20px;
    color: blue;
}
#disp3{
    font-size: 30px;
    color: black;
}
#reform {
    width: 170px;
    height: 25px;
    font-size: 15px;
    margin: 10px; 
    border-radius: 2px;
}
#check{
    width: 280px;
    height: 30px;
    font-size: 15px;
    margin: 10px;
}
#getcrt{
    width: 180px;
    height: 30px;
    font-size: 15px;
    margin: 10px;
}
#getans{
    font-size: 20px;
    color: black;
    line-height: 1.6;
}


