body{
    background-color: white;
}
#drop{
    size: 25px;
}
.one{
    padding: 20px;
}
.select{
    padding: 8px 12px;
}
#para1{
    font-size: 25px;
    color: darkblue;
}
#para2{
    font-size: 20px;
    color: blue;
}